/* fonts */
/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* alexandria */
@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");
/* montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Istok Web */
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  outline: none;
}

/* root */
:root {
  /* colors */
  --color-green: #239d60;
  --color-green-hover: #1b7a4a;
  --color-text-black: #212125;
}

/* global styles */

/* hide scroll */
.hide-scroll {
  overflow: auto;
  scrollbar-width: none; /* لإخفاء التمرير في Firefox */
  -ms-overflow-style: none; /* لإخفاء التمرير في Internet Explorer و Edge */
}

.hide-scroll::-webkit-scrollbar {
  display: none; /* لإخفاء التمرير في Chrome و Safari */
}
